header {
    padding: 0em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header {
    text-transform: uppercase;
    font-size: 2rem;
    padding-right: 1em;
}

.header-image {
    height: 4rem;
}

