@import url(https://info20005.github.io/Layout-Composition/reset.css);

header{
    padding: 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em;
    background-color: red;
}

.header {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-right: 1em;
}

.header-image {
    height: 4rem;
}

